
body{
    font-family: 'Roboto', sans-serif;
}


/* nav related style*/
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-tittle{
    color: #000;
font-size: 35px;
font-weight: 700;

}
 
nav > ul{
    display: flex;
    align-items: center;
 }


nav > li{
    
    list-style: none;
    margin-left: 50px;
    
}
nav a{
    text-decoration: none;
    color:  #3871A7;
}
.header{
    background-color: #FFF;
}
.banner{
    padding: 30px 30px 30px 190px;
    display: flex;
    align-items: center;
    
   
}
.banner .profile-pic{
    width: 393px;
    height: 467px;
}  


.banner-getting{
     color: #3871A7;
     font-family: Montserrat;
     font-size: 85px;
     font-weight: 700;

}
.banner-description{
    color: rgba(57, 57, 60, 0.75);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}